<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DICE Notice Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <!-- NAVBAR -->
    <div class="navbar">
    
    <div class="nav-left">
        <img src="{{ url_for('static', filename='uniLogo.png') }}" alt="University Logo" class="uniLogo">
        <img src="{{ url_for('static', filename='dicelabLogo.png') }}" alt="Lab Logo" class="labLogo">

        <!-- <div class="divider"></div> -->
        <!-- <img src="{{ url_for('static', filename='dicelabLogo.png') }}" alt="Lab Logo" class="labLogo"> -->
         
    </div>
    <!-- <div class="nav-title">
    </div> -->

    <div class="nav-right">
       Notice Board
    </div>
        <span class="admin-badge"> <a href="/logout">Logout</a></span>

</div>

    <!-- MAIN CONTENT -->
    <div class="page-content">
        <div class="container">

            <h1>Add New Notice</h1>

            <form action="/add" method="POST">
                <input type="text" name="title" placeholder="Title" required>
                <textarea name="description" placeholder="Description" rows="4" required></textarea>
                <!-- <label class="input-label">Expiry Date</label>
                <input type="date" name="expiry" required class="date"> -->
                <button type="submit">Post Notice</button>
            </form>

            <h2 class="section-title">Existing Notices</h2>

            {% for notice in notices %}
            <div class="card">
                <h3>{{ notice.title }}</h3>
                <p>{{ notice.description }}</p>
                <!-- <div class="expiry">Expiry: {{ notice.expiry }}</div> -->
                <a class="delete" href="/delete/{{ notice._id }}">Delete</a>
            </div>
            {% endfor %}

        </div>
    </div>

    <!-- FOOTER -->
    <footer class="footer">
        © 2026 DICE Lab | Chitkara University | Made with ❤️ by Harshit Sharma
    </footer>

</body>
</html>